/**
About Page styles.
 */

.aboutMeTitle {
	margin-bottom: 0.5rem;
}

.aboutMeSection {
	display: grid;
	grid-template-columns: 225px 1fr;
	padding: 1rem;
	box-shadow: 0 0 2em rgba(0,0,0,.1);
}

.aboutMeImg {
	aspect-ratio: 16 / 9;
}

.faqTitle {
	margin-bottom: 0.5rem;
}

/**********
Media Resizing and Responsiveness
 */
@media screen and (max-width: 547px) {
	.aboutMeTitle {
		text-align: center;
	}

	.aboutMeSection {
		grid-template-columns: 1fr;
		grid-template-rows: 225px 1fr;
		justify-content: center;
	}

	.aboutMeImgSection {
		display: flex;
		justify-content: center;
	}

	.faqTitle {
		text-align: center;
	}
}