/**
About Page styles.
 */

.aboutMeTitle {
	margin-bottom: 0.5rem;
}

.aboutMeSection {
	display: flex;
	gap: 0.5rem;
	box-shadow: 0 0 2em rgba(0,0,0,.1);
}

.aboutMeSection > p {
	padding: 0.5rem;
}

.aboutMeImg {
	aspect-ratio: 16 / 9;
}

.faqTitle {
	margin-bottom: 0.5rem;
}

/**********
Media Resizing and Responsiveness
 */
@media screen and (max-width: 547px) {
	.aboutMeTitle {
		text-align: center;
	}

	.aboutMeSection {
		flex-direction: column;
		align-items: center;
	}

	.aboutMeImg {
		padding-top: 0.5rem;
	}

	.faqTitle {
		text-align: center;
	}
}