/**
Home page component styles.
 */

.homeTitleContainerWrapper {

}

.homeTitleContainer {
	display: flex;
	justify-content: center;
	gap: 3rem;
	padding: 2rem;
	margin-bottom: 5rem;
}

.homeTitleContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.homeTitleHeadingWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.homeTitleHeading {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.0;
	font-size: 4rem;
	text-align: center;
}

.homeCaptionHeading {
	color: hsl(177, 70%, 41%);
	font-weight: 600;
	font-size: 1.75rem;
	text-align: center;
}

.projectsLink {
	cursor: pointer;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	background-color: hsl(177, 70%, 41%);
	padding: 0.65rem 1rem 0.65rem 1rem;
	border-radius: 100vmax;
	font-weight: bold;
}

.techStack {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.homeIconSizes {
	width: 30px;
	height: 30px;
}

/*************
Mobile viewports
 *************/
@media (min-width: 768px) and (max-width: 992px) {
	.homeTitleHeading {
		font-size: 60px;
	}
	.homeCaptionHeading {
		font-size: 35px;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.homeTitleHeading {
		font-size: 56px;
	}
	.homeCaptionHeading {
		font-size: 25px;
	}
}

@media (min-width: 376px) and (max-width: 768px) {
	.homeTitleHeading {
		font-size: 32px;
	}
	.homeCaptionHeading {
		font-size: 16px;
	}
	.homeIconSizes {
		width: 20px;
		height: 20px;
	}
}

@media (min-width: 280px) and (max-width: 375px) {
	.homeTitleHeading {
		font-size: 26px;
	}
	.homeCaptionHeading {
		font-size: 14px;
	}
	.techStack {
		gap: 1rem;
	}
	.homeIconSizes {
		width: 15px;
		height: 15px;
	}
}