/**
Projects styles.
 */

.projectsTitle {
	text-align: center;
	margin-bottom: 0.5rem;
}

.projectsWrapper {

}

.projectItemContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem;
	border: 1px solid hsl(0, 0%, 87%);
	background-color: hsl(0, 0%, 100%);
	gap: 1rem;
}

.projectImgContainer {

}

.projectImgContainer > img {

}

.projectTitleAndContent {
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
}

.technologiesList {
	list-style-type: none;
	display: flex;
	gap: 0.5rem;
}

.sourceCodeLink {
	cursor: pointer;
	max-width: 10rem;
	text-align: center;
	text-decoration: none;
	background-color: hsl(210, 97%, 42%);
	padding: 0.35rem;
	border-radius: 100vmax;
	color: hsl(0, 0%, 100%);
	font-weight: bold;
	margin-top: auto;
}

/**********
Media Resizing and Responsiveness
 */
@media screen and (max-width: 547px) {
	.projectItemContainer {
		grid-template-columns: 1fr;
	}

	.projectTitleAndContent {
		align-items: center;
		gap: 1rem;
	}

	.projectTitleAndContent > p {
		text-align: center;
	}

	.projectContentTitle {
		text-align: center;
	}
}